<div class="bookshelf-container">
  <h4 class="bookshelf-title">YOUR DIGITAL BOOKSHELF</h4>
  <p class="bookshelf-info">
  Here's the list of your Books! <br>Update your comment or rating here. <br> <span class="small-bookshelf-font">You can also delete a book from your Bookshelf by deleting your review.</span>
  </p>
</div>
{{#each reviews as |review|}}
<div class="single-review">
  <hr>
  <div class="book-cover">
  <h2><small>{{review.book.title}}
    <br>
    by
    <br>
    {{review.book.author_first_name}} {{review.book.author_last_name}} </small></h2>
  </div>
  <h3><small>
    <div class="format-review">
    <strong>Your Review of {{review.book.title}}:</strong>
    <br>
    {{review.comment}}
    <br>
    Book rating: {{review.rating}}
  </div>
  </small></h3>
  <!--<button class='update-review' data-id={{review.id}}>
      Update Review {{review.id}}
  </button> -->
  <div class="review-form center">
    <form class="update-a-review whose-id center" data-id={{review.id}}>
    <!-- <div class="form-group">
      <label for="oneReviewUserId">User Id: {{review.user_id}}</label>
      <input type="text" class="form-control" id="one-review-user-id" name="review[user_id]" value={{review.user_id}}>
    </div> -->
      <div class="form-group left">
        <input type="hidden" class="form-control" id="one-review-book-id" name="review[book_id]" value={{review.book.id}}>
      </div>
      <div class="form-group left">
        <label for="oneReviewComment">Review Comments</label>
        <textarea class="form-control" id="one-review-comment" name="review[comment]" required>{{review.comment}}</textarea>
      </div>
      <div class="form-group left">
        <label for="oneReviewRating">Review Rating (0 - 50)</label>
        <input type="number"  min="0" max="50" step="5" class="form-control" id="one-review-rating" name="review[rating]" required value={{review.rating}}>
      </div>
      <button type="submit" class="btn btn-secondary">Update Review</button>
    </form>
  </div>

  <button class="edit-review btn btn-default">
      Edit Review
  </button>
  <button class="delete-review btn btn-default" data-id={{review.id}}>
      Delete Review
  </button>
  <button class="hide-reviews btn btn-default">
      Hide Bookshelf
  </button>
</div>
{{/each}}
