{{#each reviews as |review|}}
<div>
  <hr>
  <h2><small>{{review.book.title}} by {{review.book.author_first_name}} {{review.book.author_last_name}} </small></h2>
  <h3><small>
    <strong>Comments About the Book:</strong>
    <br>
    {{review.comment}}
    <br>
    Book rating: {{review.rating}}
  </small></h3>
  <button class='delete-review' data-id={{review.id}}>
      Delete Review {{review.id}}
  </button>
  <button class='update-review' data-id={{review.id}}>
      Update Review {{review.id}}
  </button>
  <hr>
</div>
{{/each}}
